parameters:
	ignoreErrors:
		-
			message: "#^Call to static method getMain\\(\\) on an unknown class RequestContext\\.$#"
			count: 1
			path: src/NeoWikiExtension.php

		-
			message: "#^Parameter \\#1 \\$titleParser of class ProfessionalWiki\\\\NeoWiki\\\\Persistence\\\\MediaWiki\\\\PageContentFetcher constructor expects TitleParser, MediaWiki\\\\Title\\\\TitleParser given\\.$#"
			count: 1
			path: src/NeoWikiExtension.php

		-
			message: "#^Cannot access property \\$page_title on array\\|stdClass\\|false\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/DatabaseSchemaNameLookup.php

		-
			message: "#^Instantiated class TitleValue not found\\.$#"
			count: 2
			path: src/Persistence/MediaWiki/DatabaseSchemaNameLookup.php

		-
			message: "#^Method ProfessionalWiki\\\\NeoWiki\\\\Persistence\\\\MediaWiki\\\\DatabaseSchemaNameLookup\\:\\:dbResultToTitleValueArray\\(\\) has invalid return type TitleValue\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/DatabaseSchemaNameLookup.php

		-
			message: "#^Method ProfessionalWiki\\\\NeoWiki\\\\Persistence\\\\MediaWiki\\\\DatabaseSchemaNameLookup\\:\\:getFirstSchemaNames\\(\\) has invalid return type TitleValue\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/DatabaseSchemaNameLookup.php

		-
			message: "#^Method ProfessionalWiki\\\\NeoWiki\\\\Persistence\\\\MediaWiki\\\\DatabaseSchemaNameLookup\\:\\:getSchemaNamesMatching\\(\\) has invalid return type TitleValue\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/DatabaseSchemaNameLookup.php

		-
			message: "#^Method ProfessionalWiki\\\\NeoWiki\\\\Persistence\\\\MediaWiki\\\\DatabaseSchemaNameLookup\\:\\:searchSuggestionsToTitleArray\\(\\) has invalid return type TitleValue\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/DatabaseSchemaNameLookup.php

		-
			message: "#^Call to method getPrefixedText\\(\\) on an unknown class Title\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/PageContentFetcher.php

		-
			message: "#^Call to method getTitleValue\\(\\) on an unknown class Title\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/PageContentFetcher.php

		-
			message: "#^Call to method parseTitle\\(\\) on an unknown class TitleParser\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/PageContentFetcher.php

		-
			message: "#^Caught class MalformedTitleException not found\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/PageContentFetcher.php

		-
			message: "#^Instantiated class MalformedTitleException not found\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/PageContentFetcher.php

		-
			message: "#^Method ProfessionalWiki\\\\NeoWiki\\\\Persistence\\\\MediaWiki\\\\PageContentFetcher\\:\\:getPageContent\\(\\) has invalid return type Content\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/PageContentFetcher.php

		-
			message: "#^Method ProfessionalWiki\\\\NeoWiki\\\\Persistence\\\\MediaWiki\\\\PageContentFetcher\\:\\:getPageContent\\(\\) should return Content\\|null but returns MediaWiki\\\\Content\\\\Content\\|null\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/PageContentFetcher.php

		-
			message: "#^Method ProfessionalWiki\\\\NeoWiki\\\\Persistence\\\\MediaWiki\\\\PageContentFetcher\\:\\:normalizeTitle\\(\\) has invalid return type TitleValue\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/PageContentFetcher.php

		-
			message: "#^PHPDoc tag @throws with type MalformedTitleException is not subtype of Throwable$#"
			count: 1
			path: src/Persistence/MediaWiki/PageContentFetcher.php

		-
			message: "#^Parameter \\#1 \\$page of method MediaWiki\\\\Revision\\\\RevisionLookup\\:\\:getRevisionByTitle\\(\\) expects MediaWiki\\\\Linker\\\\LinkTarget\\|MediaWiki\\\\Page\\\\PageIdentity, TitleValue given\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/PageContentFetcher.php

		-
			message: "#^Parameter \\$pageTitle of method ProfessionalWiki\\\\NeoWiki\\\\Persistence\\\\MediaWiki\\\\PageContentFetcher\\:\\:getPageContent\\(\\) has invalid type Title\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/PageContentFetcher.php

		-
			message: "#^Parameter \\$pageTitle of method ProfessionalWiki\\\\NeoWiki\\\\Persistence\\\\MediaWiki\\\\PageContentFetcher\\:\\:normalizeTitle\\(\\) has invalid type Title\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/PageContentFetcher.php

		-
			message: "#^Parameter \\$titleParser of method ProfessionalWiki\\\\NeoWiki\\\\Persistence\\\\MediaWiki\\\\PageContentFetcher\\:\\:__construct\\(\\) has invalid type TitleParser\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/PageContentFetcher.php

		-
			message: "#^Property ProfessionalWiki\\\\NeoWiki\\\\Persistence\\\\MediaWiki\\\\PageContentFetcher\\:\\:\\$titleParser has unknown class TitleParser as its type\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/PageContentFetcher.php

		-
			message: "#^Throwing object of an unknown class MalformedTitleException\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/PageContentFetcher.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/PageContentSaver.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type MediaWiki\\\\Storage\\\\PageUpdateStatus\\. Use \\-\\> instead\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/PageContentSaver.php

		-
			message: "#^Call to static method newUnsavedComment\\(\\) on an unknown class CommentStoreComment\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/Subject/MediaWikiSubjectRepository.php

		-
			message: "#^Parameter \\#2 \\$op of method Wikimedia\\\\Rdbms\\\\IReadableDatabase\\:\\:expr\\(\\) expects '\\!\\='\\|'\\='\\|'\\\\\\\\x3C'\\|'\\\\\\\\x3C\\='\\|'\\\\\\\\x3E'\\|'\\\\\\\\x3E\\='\\|'LIKE'\\|'NOT LIKE', '\\<\\=' given\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/Subject/PointInTimeSubjectLookup.php

		-
			message: "#^Parameter \\#1 \\$boolean of class ProfessionalWiki\\\\NeoWiki\\\\Domain\\\\Value\\\\BooleanValue constructor expects bool, mixed given\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/Subject/StatementDeserializer.php

		-
			message: "#^Parameter \\#1 \\$json of method ProfessionalWiki\\\\NeoWiki\\\\Persistence\\\\MediaWiki\\\\Subject\\\\StatementDeserializer\\:\\:deserializeRelationValue\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/Subject/StatementDeserializer.php

		-
			message: "#^Parameter \\#1 \\$number of class ProfessionalWiki\\\\NeoWiki\\\\Domain\\\\Value\\\\NumberValue constructor expects float\\|int, mixed given\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/Subject/StatementDeserializer.php

		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$strings of class ProfessionalWiki\\\\NeoWiki\\\\Domain\\\\Value\\\\StringValue constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/Subject/StatementDeserializer.php

		-
			message: "#^Cannot access offset 'mainSubject' on mixed\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/Subject/SubjectContentDataDeserializer.php

		-
			message: "#^Parameter \\#1 \\$jsonArray of method ProfessionalWiki\\\\NeoWiki\\\\Persistence\\\\MediaWiki\\\\Subject\\\\SubjectContentDataDeserializer\\:\\:deserializeSubjects\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/Subject/SubjectContentDataDeserializer.php

		-
			message: "#^Parameter \\#1 \\$text of class ProfessionalWiki\\\\NeoWiki\\\\Domain\\\\Subject\\\\SubjectId constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/Subject/SubjectContentDataDeserializer.php

		-
			message: "#^Method ProfessionalWiki\\\\NeoWiki\\\\Persistence\\\\MediaWiki\\\\Subject\\\\SubjectContentDataSerializer\\:\\:serialize\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/Subject/SubjectContentDataSerializer.php

		-
			message: "#^Call to static method newUnsavedComment\\(\\) on an unknown class CommentStoreComment\\.$#"
			count: 1
			path: src/Persistence/MediaWiki/Subject/SubjectContentRepository.php

		-
			message: "#^Anonymous function should return Laudis\\\\Neo4j\\\\Databags\\\\SummarizedResult but returns mixed\\.$#"
			count: 2
			path: src/Persistence/Neo4j/Neo4jQueryStore.php

		-
			message: "#^Cannot call method get\\(\\) on mixed\\.$#"
			count: 1
			path: src/Persistence/Neo4j/Neo4jQueryStore.php

		-
			message: "#^Cannot call method isEmpty\\(\\) on mixed\\.$#"
			count: 1
			path: src/Persistence/Neo4j/Neo4jQueryStore.php

		-
			message: "#^Cannot call method get\\(\\) on mixed\\.$#"
			count: 1
			path: src/Persistence/Neo4j/SubjectUpdater.php

		-
			message: "#^Method ProfessionalWiki\\\\NeoWiki\\\\Persistence\\\\Neo4j\\\\SubjectUpdater\\:\\:getNodeLabels\\(\\) should return array\\<string\\> but returns array\\<int, mixed\\>\\.$#"
			count: 1
			path: src/Persistence/Neo4j/SubjectUpdater.php

		-
			message: "#^Method ProfessionalWiki\\\\NeoWiki\\\\Persistence\\\\SchemaNameLookup\\:\\:getSchemaNamesMatching\\(\\) has invalid return type TitleValue\\.$#"
			count: 1
			path: src/Persistence/SchemaNameLookup.php

		-
			message: "#^Call to method getHeader\\(\\) on an unknown class WebRequest\\.$#"
			count: 1
			path: src/Presentation/CsrfValidator.php

		-
			message: "#^Parameter \\$request of method ProfessionalWiki\\\\NeoWiki\\\\Presentation\\\\CsrfValidator\\:\\:__construct\\(\\) has invalid type WebRequest\\.$#"
			count: 1
			path: src/Presentation/CsrfValidator.php

		-
			message: "#^Property ProfessionalWiki\\\\NeoWiki\\\\Presentation\\\\CsrfValidator\\:\\:\\$request has unknown class WebRequest as its type\\.$#"
			count: 1
			path: src/Presentation/CsrfValidator.php

		-
			message: "#^Call to method getFullText\\(\\) on an unknown class Title\\.$#"
			count: 1
			path: src/Presentation/FactBox.php

		-
			message: "#^Call to static method getTitleFor\\(\\) on an unknown class SpecialPage\\.$#"
			count: 1
			path: src/Presentation/FactBox.php

		-
			message: "#^Parameter \\#1 \\$pageIdentity of method ProfessionalWiki\\\\NeoWiki\\\\Persistence\\\\MediaWiki\\\\Subject\\\\SubjectContentRepository\\:\\:getSubjectContentByPageTitle\\(\\) expects MediaWiki\\\\Page\\\\PageIdentity, Title given\\.$#"
			count: 1
			path: src/Presentation/FactBox.php

		-
			message: "#^Parameter \\$title of method ProfessionalWiki\\\\NeoWiki\\\\Presentation\\\\FactBox\\:\\:htmlFor\\(\\) has invalid type Title\\.$#"
			count: 1
			path: src/Presentation/FactBox.php

		-
			message: "#^Call to static method errorBox\\(\\) on an unknown class Html\\.$#"
			count: 1
			path: src/Presentation/TwigTemplateRenderer.php

		-
			message: "#^Cannot access offset 'propertyType' on mixed\\.$#"
			count: 2
			path: src/Application/StatementListPatcher.php

		-
			message: "#^Cannot access offset 'value' on mixed\\.$#"
			count: 1
			path: src/Application/StatementListPatcher.php

		-
			message: "#^Parameter \\#1 \\$boolean of class ProfessionalWiki\\\\NeoWiki\\\\Domain\\\\Value\\\\BooleanValue constructor expects bool, mixed given\\.$#"
			count: 1
			path: src/Application/StatementListPatcher.php

		-
			message: "#^Parameter \\#1 \\$format of method ProfessionalWiki\\\\NeoWiki\\\\Application\\\\StatementListPatcher\\:\\:deserializeValue\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Application/StatementListPatcher.php

		-
			message: "#^Parameter \\#1 \\$json of method ProfessionalWiki\\\\NeoWiki\\\\Application\\\\StatementListPatcher\\:\\:deserializeRelationValue\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: src/Application/StatementListPatcher.php

		-
			message: "#^Parameter \\#1 \\$number of class ProfessionalWiki\\\\NeoWiki\\\\Domain\\\\Value\\\\NumberValue constructor expects float\\|int, mixed given\\.$#"
			count: 1
			path: src/Application/StatementListPatcher.php

		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$strings of class ProfessionalWiki\\\\NeoWiki\\\\Domain\\\\Value\\\\StringValue constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Application/StatementListPatcher.php

		-
			message: "#^Parameter \\$format of class ProfessionalWiki\\\\NeoWiki\\\\Domain\\\\Statement constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Application/StatementListPatcher.php

		-
			message: "#^Parameter \\#1 \\$string of function strtoupper expects string, string\\|null given\\.$#"
			count: 1
			path: src/Persistence/Neo4j/KeywordCypherQueryValidator.php

		-
			message: "#^Parameter \\#2 \\$subject of function preg_match expects string, string\\|null given\\.$#"
			count: 2
			path: src/Persistence/Neo4j/KeywordCypherQueryValidator.php

		-
			message: "#^Parameter \\#3 \\$subject of function preg_replace expects array\\|string, string\\|null given\\.$#"
			count: 1
			path: src/Persistence/Neo4j/KeywordCypherQueryValidator.php
