includes:
	- phpstan-baseline.neon

parameters:
	level: 9
	paths:
		- src
		- tests/RedHerb/src
	scanDirectories:
		- ../../includes
		- ../../tests/phpunit
		- ../../vendor
	excludePaths:
		analyse:
			- src/EntryPoints/
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- '#no value type specified in iterable type array\.$#'
		- '#function array_map expects#'
		- '#generic interface Laudis#'
		- '#generic class Laudis#'
