<phpunit colors="true">
	<testsuites>
		<testsuite name="NeoWiki">
			<directory>tests/</directory>
			<exclude>tests/RedHerb</exclude>
		</testsuite>
	</testsuites>
	<php>
		<env name="NEO4J_URL_OVERRIDE" value="bolt://neo4j:password@test_neo:7689" />
		<env name="NEO4J_URL_READ_OVERRIDE" value="bolt://mediawiki_read:mediawiki_read@test_neo:7689" />
	</php>
</phpunit>
